# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# IDE
/.vscode
.idea/

# export files
docs/dist/*.json

# jest coverage files
coverage

# exclude zip files
*.zip

# build folder
applications/dist

applications/junit.xml

# OS X files
.DS_Store

build/
